extends layout

block content
  div(align="center")
    h1= title
    b Amod Kumar Choudhary <br>
    b 3rd year B.Tech Undergrad | Indian Institute of Technology Mandi <br><br>
    button#sendMessage Click here to see action!
    <br> <br>
    h2#message
  script(src="/javascripts/jquery.min.js")
  script(src="/javascripts/socket.io.min.js")
  script(type="text/javascript" src="/javascripts/main.js")
