extends layout

block content
  div(align="center")
    h1= title
    b Amod Kumar Choudhary <br>
    b 3rd year B.Tech Undergrad | Indian Institute of Technology Mandi <br><br>
    button Click here to see action!
